<div class="profile-container">
  <div class="parent">
    <div class="child">
      <div class="imgDiv">
        <h2>Update Employee</h2>
      </div>
      <form nz-form [formGroup]="validateForm" (ngSubmit)="updateEmployee()">
        <div nz-row>
          <div class="file-upload-container">
            <div *ngIf="imagePreview; else existingImageTemplate" class="image-preview">
              <div class="circle-image">
                <img [src]="imagePreview" alt="Selected Image" class="preview-image" />
              </div>
            </div>
            <ng-template #existingImageTemplate>
              <div *ngIf="existingImage" class="image-preview">
                <div class="circle-image">
                  <img [src]="existingImage" alt="Existing Image" class="preview-image" />
                </div>
              </div>
            </ng-template>
            <label class="file-upload-label">
              <span>Change Image</span>
              <input type="file" accept="image/x-png,image/gif,image/jpeg" (change)="onFileSelected($event)" />
            </label>
          </div>
        </div>
        <div nz-col nzSpan="24" class="form-item">
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="This input is required!">
              <input nz-input placeholder="Firstname" formControlName="firstname" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="24" class="form-item">
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="This input is required!">
              <input nz-input placeholder="Lastname" formControlName="lastname" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24" class="form-item">
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="This input is required!">
              <input nz-input placeholder="Email" formControlName="email" type="email" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24" class="form-item">
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="This input is required!">
              <input nz-input placeholder="Phone" formControlName="phone" type="tel" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24" class="form-item">
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="This input is required!">
              <input nz-input placeholder="Position" formControlName="position" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24" class="form-item">
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="This input is required!">
              <input nz-input placeholder="Salary" formControlName="salary" type="number" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24" class="form-item">
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="This input is required!">
              Start Date: <input nz-input placeholder="Start Date" formControlName="startDate" type="date" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <button nz-button class="form-button" [nzType]="'primary'">Update employee</button>
      </form>
    </div>
  </div>
</div>
