<div>
  <div nz-row>
    <div nz-col [nzSpan]="14" [nzOffset]="5">
      <nz-card nzType="inner" style="margin-top:16px;" nzTitle="Update Income"></nz-card>
      <form nz-form [formGroup]="expenseForm" (ngSubmit)="submitForm()" class="custom-form">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input the Title!">
            <input type="text" nz-input formControlName="title" placeholder="Enter title"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input the amount!">
            <input type="number" nz-input formControlName="amount" placeholder="Enter amount"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="employees.length > 0">
          <nz-form-control nzErrorTip="Please select the employee!">
            <nz-select nzAllowClear nzPlaceHolder="Select the employee" formControlName="employeeId">
              <nz-option *ngFor="let employee of employees" [nzLabel]="employee.firstname + ' ' + employee.lastname" [nzValue]="employee.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>




        <nz-form-item>
          <nz-form-control nzErrorTip="Please input the date!">
            <nz-date-picker style="width: 100%;" formControlName="date"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
                <textarea nz-input placeholder="Enter description" [nzAutosize]="{minRows:2,maxRows:6}"
                          formControlName="description"></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzErrorTip="Please input the category!">
          <nz-form-control>
            <nz-select nzAllowClear nzPlaceHolder="Select the category" formControlName="category">
              <nz-option *ngFor="let category of listOfCategory" [nzLabel]="category" [nzValue]="category"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <button nz-button nzType="primary" nzBlock [disabled]="expenseForm.invalid" class="w-100">
          Update Expense
        </button>

      </form>
    </div>



  </div>
</div>
