<div class="modal-overlay">
  <div class="modal-content">
    <div class="logo-container">
      <img src="assets/talklablogo.png" alt="TalkLab Logo" class="logo">
    </div>
    <h3>Enter Access Code</h3>
    <input [(ngModel)]="accessCode" type="password" placeholder="Enter your access code" class="password-input">
    <div class="button-group">
      <button (click)="submit()" class="btn submit-btn">Submit</button>
      <button (click)="cancel()" class="btn cancel-btn">Cancel</button>
    </div>
  </div>
</div>

