<!-- Profile Container -->
<div class="profile-container">
  <div class="list-item" *ngIf="employee">
    <div class="profile-card">
      <img class="profile-image" [src]="updateImg(employee.returnedImg)" alt="{{employee.name}}">
      <h2>{{employee.firstname}} {{employee.lastname}}</h2>
      <div class="profile-info">
        <div class="info-item">
          <div class="attribute-name"><strong>Email:</strong></div>
          <div class="attribute-value">{{employee.email}}</div>
        </div>
        <div class="info-item">
          <div class="attribute-name"><strong>Phone number:</strong></div>
          <div class="attribute-value">{{employee.phone}}</div>
        </div>
        <div class="info-item">
          <div class="attribute-name"><strong>Position:</strong></div>
          <div class="attribute-value">{{employee.position}}</div>
        </div>
        <div class="info-item">
          <div class="attribute-name"><strong>Start Date:</strong></div>
          <div class="attribute-value">{{employee.startDate}}</div>
        </div>
        <div class="info-item">
          <div class="attribute-name"><strong>Salary:</strong></div>
          <div class="attribute-value">{{employee.salary}} Dhs</div>
        </div>
      </div>

      <div class="action-buttons">
        <button nz-button nzType="default" (click)="showEmployeeExpenses()">Recent Expenses</button>
        <button nz-button nzType="primary" [routerLink]="['/update-employee', employee.id]">Update</button>
        <button class="red" (click)="deleteEmployee(employee.id)" nz-button nzType="primary" nzDanger>Delete</button>
      </div>

      <!-- Expenses Section -->
      <div class="expenses-section-container">
        <div class="expenses-section card-list-horizontal" *ngIf="showExpenses && expenses.length">
          <div class="expenses-row">
            <div *ngFor="let expense of expenses" class="card-horizontal">
              <div class="card-header">Date: {{ expense.date | date:'MM/dd/yyyy' }}</div>
              <div class="card-body">
                <p><strong>Title:</strong> {{ expense.title }}</p>
                <p><strong>Amount:</strong> {{ expense.amount }} Dhs</p>
                <p><strong>Category:</strong> {{ expense.category }}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Message if no expenses are found -->
        <div class="expenses-section card-list-horizontal" *ngIf="showExpenses && !expenses.length">
          <div class="no-expenses-message">
            <p>No expenses found for this employee.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
