/* Base container styling */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
}

.list-item {
  width: 100%;
  max-width: 600px;
}

.profile-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.profile-card:hover {
  transform: translateY(-10px);
}

.profile-image {
  width: 150px;
  height: 200px; /* Adjust height as needed */
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-info {
  text-align: left;
  margin-top: 20px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e6;
}

.info-item:last-child {
  border-bottom: none;
}

.attribute-name {
  font-weight: bold;
  color: #333333;
}

.attribute-value {
  color: #666666;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Add space between the buttons */
  margin-top: 20px;
}

.action-buttons .btn-primary,
.action-buttons .btn-danger {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-buttons .btn-primary {
  background-color: #007bff;
  color: white;
}

.action-buttons .btn-danger {
  background-color: #e44d4d;
  color: white;
}

.action-buttons .btn-primary:hover {
  background-color: #0056b3;
}

.action-buttons .btn-danger:hover {
  background-color: #c93030;
}
