<div class="profile-container">
  <div class="list-item" *ngIf="employee">
    <div class="profile-card">
      <img class="profile-image" [src]="updateImg(employee.returnedImg)" alt="{{employee.name}}">
      <h2>{{employee.firstname}} {{employee.lastname}}</h2>
      <div class="profile-info">
        <div class="info-item">
          <div class="attribute-name"><strong>Email:</strong></div>
          <div class="attribute-value">{{employee.email}}</div>
        </div>
        <div class="info-item">
          <div class="attribute-name"><strong>Phone number:</strong></div>
          <div class="attribute-value">{{employee.phone}}</div>
        </div>
        <div class="info-item">
          <div class="attribute-name"><strong>Position:</strong></div>
          <div class="attribute-value">{{employee.position}}</div>
        </div>
        <div class="info-item">
          <div class="attribute-name"><strong>Start Date:</strong></div>
          <div class="attribute-value">{{employee.startDate}}</div>
        </div>
        <div class="info-item">
          <div class="attribute-name"><strong>Salary:</strong></div>
          <div class="attribute-value">{{employee.salary}} Dhs</div>
        </div>
      </div>

      <div class="action-buttons">
        <button nz-button nzType="primary" [routerLink]="['/update-employee', employee.id]">Update</button>
        <button class="red" (click)="deleteEmployee(employee.id)" nz-button nzType="primary" nzDanger>Delete</button>
        <!-- Add new button for showing expenses -->
        <button nz-button nzType="default" (click)="showEmployeeExpenses()">Show Expenses</button>
      </div>

      <!-- Expenses section -->
      <div class="expenses-section" *ngIf="expenses && expenses.length">
        <h4>Expenses for {{employee.firstname}} {{employee.lastname}}</h4>
        <ul>
          <li *ngFor="let expense of expenses">
            {{expense.description}} - {{expense.amount}} Dhs
          </li>
        </ul>
      </div>

      <!-- Message if no expenses are found -->
      <div class="expenses-section" *ngIf="expenses && !expenses.length">
        <p>No expenses found for this employee.</p>
      </div>

    </div>
  </div>
</div>
